/lib/apiguardian-api-1.1.2.jar
/out/production/BitPacker/domain/bitaccessibility/BitAccessBase.class
/out/production/BitPacker/domain/bitaccessibility/BitAccessible.class
/out/production/BitPacker/domain/bitaccessibility/BitBuffer.class
/out/production/BitPacker/domain/bitaccessibility/BitPack.class
/BitPacker.iml
/out/production/BitPacker/domain/bitsizeable/BitSizeable.class
/lib/junit-jupiter-5.8.1.jar
/lib/junit-jupiter-api-5.8.1.jar
/lib/junit-jupiter-engine-5.8.1.jar
/lib/junit-jupiter-params-5.8.1.jar
/lib/junit-platform-commons-1.8.1.jar
/lib/junit-platform-engine-1.8.1.jar
/lib/opentest4j-1.2.0.jar
/out/production/BitPacker/domain/bitaccessibility/PackDescribable.class
/out/production/BitPacker/domain/bitaccessibility/PackState.class
/out/production/BitPacker/models/Point.class
/src/algo/
